/* Button.module.css */
.button {
  border: none;
  border-radius: 999px; /* pill shape */
  padding: 1rem 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: background 0.2s ease;
  font-size: 1rem;
  margin-bottom: 1rem;
  min-width: 273px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.red {
  background-color: #a72e2e;
  color: white;
}

.green {
  background-color: #2e7d32;
  color: white;
}

.white {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}

.blue {
  background-color: rgba(69, 126, 196, 1);
  color: white;
}

.icon {
  display: flex;
  align-items: center;
}

/* Skeleton loading animation */
.skeleton {
  background-color: rgba(
    121,
    46,
    46,
    0.2
  ); /* Very transparent version of the background color */
  color: transparent;
  cursor: default;
  min-height: 50px;
  border: 1px solid rgba(121, 46, 46, 0.3); /* Subtle border to maintain shape */
}

.skeleton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Disabled state */
.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

@media (max-width: 900px) {
  .button {
    width: 100%;
  }
}
